/*Primary Color */


body{
    background-color: #fffef4;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
  
    font-style: normal;

    padding-top: 5vh;
    padding-left: 20vw; padding-right: 20vw;
}

div.body_wrapper{
    margin-bottom: 5vh;

    width: 100%;
    height: auto;
    overflow: visible;

    border: 0px solid;
    border-color: black;
}

h1#name{
    margin: 0;

    font-size: 70px;
    letter-spacing: 0.5vw;
}

p{
    font-size: 25px;
}

p#intro{
    text-align: justify;
}

h2#projects{
    font-size: 30px;
    letter-spacing: 0.2vw;
}



/* NAVAR SETTINGS */

.navbar {
  display: flex;
  background-color: #333;
}

.navbar button {
  flex: 1;
  padding: 14px;
  color: white;
  background-color: #333;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;

    /* Smooth color transition */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar button:hover {
  background-color: #555;
  background-color: #555; /* slightly lighter on hover */
}

.tab-content {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  margin-top: 5px;

  display: none;
  opacity: 0;
  transition: opacity 0.3s ease; /* smooth fade */
}

.tab-content.active {
  display: block;
  opacity: 1;
}

.tab-button.active {
  background-color: #666;
  transition: background-color 0.3s ease;
}
